@media only screen and (max-width: 525px) {
    #gallery {
        height: 6000px;
    }
    .line h1 {
        font-size: 2.5rem;
    }
    .line{
        padding: 0;
    }
    #navbar i {
        display: block;
        color: #cfcfcf;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: linear-gradient(to bottom, rgb(177, 28, 42) 0%, rgb(155, 28, 36) 10%, rgb(114, 22, 24)100%);
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: .6s;
        height: 100vh;
    }

    .nav-links ul li a {
        font-size: 16px;
        transition: ease 0.3s;
    }

    .nav-links ul li::after {
        display: none;

    }

    nav {
        padding: .5rem 3rem;
    }

    nav img {
        width: 50px;
        transition: ease 0.3s;
        margin-left: 0;
    }

    #navbar {
        height: 8vh;
        transition: ease 0.3s;
    }

    .vorstellung-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
    }

    .text-container {
        max-width: 100%;
        padding: 0px 40px;
        text-align: center;
    }

    .bild-container {
        max-width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .welcome {
        font-size: 20px;
        transition: ease 0.3s;

    }

    .container-kontakt {
        margin: 100px auto;
        gap: 50px;
    }

    .details-zeile {
        margin: 10px auto;
        flex-direction: column;
        align-items: center;
    }

    .details-zeile p input {
        background-color: #cfcfcf;
        border: none;
        border-radius: 3px;
        height: 30px;
        padding: 0 10px;
        width: 30vh;
    }

    .details-zeile p {
        margin: 20px 0px;
    }

    .details-zeile p label {
        left: 0px;
    }

    .nachricht-zeile {
        margin-left: 0px;
        margin-top: 40px;
    }

    .nachricht-zeile textarea {
        width: 85%;
    }

    .senden {
        margin-right: 0px;
    }

    .footer-container {
        padding: 0px 60px;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
    }

    .footer-links img {
        width: 50px;
    }

    .footer-mitte h2 {
        font-size: 1rem;
    }

    .footer-mitte ul li a {
        font-size: 0.8rem;
    }

    .footer-rechts {
        flex-direction: column;
        width: 40px;
    }

    .footer-rechts img {
        width: 40px;
    }

    #body-events {
        height: 4800px;
    }

    .events {
        height: 170vh;
    }

    .Weinproben {
        height: 205vh;
    }
    .einleitung h1{
        font-size: 2rem;
    }
    .einleitung p{
        font-size: 1rem;
        line-height: 25px;
        padding-bottom: 50px;
    }

    .events-container h1 {
        font-size: 2.5rem;
        padding-top: 0px;
    }

    
    hr{
        color: rgb(207, 207, 207);
    }

    .weinproben {
        width: 100%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3;
        gap: 5%;
    }

    .event-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 40rem;
        row-gap: 30px;
        margin: 20px auto;
    }

    .flextext {
        line-height: 3rem;
    }

    .flextext h1 {
        font-size: 2rem;
    }

    .flextext span {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .flextext p {
        font-size: 1rem;
        padding-top: 50px;
        line-height: 25px;
    }
    .col{
        border-style: none;
        margin-bottom: 20px;
    }
}
    



@media only screen and (min-width: 525.02px) and (max-width: 768px) {
    body {
        height: 4500px;
    }

    #gallery {
        height: 6000px;
    }

    #navbar i {
        display: block;
        color: #cfcfcf;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }

    .nav-links ul {
        padding: 30px;

    }

    .nav-links ul li {
        display: block;

    }

    .nav-links {
        position: absolute;
        background: linear-gradient(to bottom, rgb(177, 28, 42) 0%, rgb(155, 28, 36) 10%, rgb(114, 22, 24)100%);
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: .6s;
        height: 100vh;

    }

    .nav-links ul li a {
        font-size: 16px;
        transition: ease 0.3s;
    }

    .nav-links ul li::after {
        display: none;

    }

    nav {
        padding: .5rem 3rem;
    }

    nav img {
        width: 50px;
        transition: ease 0.3s;
        margin-left: 0;
    }

    #navbar {
        height: 8vh;
        transition: ease 0.3s;
    }

    .vorstellung-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 130vh;
    }

    .text-container {
        max-width: 100%;
        padding: 0px 40px;
        text-align: center;
    }

    .bild-container {
        max-width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .welcome {
        font-size: 30px;
        transition: ease 0.3s;
    }

    .container-kontakt {
        margin: 100px auto;
        gap: 30px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;

    }

    .details-zeile {
        margin: 10px auto;
        flex-direction: column;
        width: 70%;
        align-items: center;

    }

    .details-zeile p input {
        background-color: #cfcfcf;
        border: none;
        border-radius: 3px;
        height: 30px;
        padding: 0 10px;
        width: 30vh;
    }

    .details-zeile p {
        margin: 20px 0px;
    }

    .details-zeile p label {
        left: 0px;
    }

    .nachricht-zeile {
        margin-left: 8px;
        margin-top: 40px;
    }

    .nachricht-zeile textarea {
        width: 85%;
    }

    .senden {
        margin-right: 9px;
    }

    .footer-container {
        padding: 0px 60px;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
    }

    .footer-links img {
        width: 70px;
    }

    .footer-mitte h2 {
        font-size: 1rem;
    }

    .footer-mitte ul li a {
        font-size: 0.8rem;
    }

    .footer-rechts {
        flex-direction: column;
    }

    .footer-rechts {
        width: 60px;
    }

    .footer-rechts img {
        width: 60px;
    }
    .col{
        border-style: none;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768.02px) and (max-width: 1200px) {
    body {
        height: 3800px;
    }

    .nav-links ul li a {
        font-size: 14px;
        transition: ease 0.3s;
    }

    #gallery {
        height: 3500px;
    }

    nav img {
        width: 80px;
        transition: ease 0.3s;
    }

    #navbar {
        height: 12vh;
        transition: ease 0.3s;
    }

    .welcome {
        font-size: 40px;
        transition: ease 0.3s;
    }

    .bild-container img {
        max-width: 80%;
        transition: ease 0.3s;
    }

    .text-container {
        padding-right: 50px;
        transition: ease 0.3s;
    }

    .text-container h1 {
        font-size: 24px;

    }

    .text-container p {
        font-size: 16px;
        margin-top: 14px;
    }

    .container-kontakt {
        margin: 100px auto;
        gap: 50px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;

    }

    .nachricht-zeile textarea {
        width: 85%;
    }

    .details-zeile p label {
        left: 10px;
    }


}

@media only screen and (min-width: 1200.02px) {
    .nav-links ul li a {
        transition: ease 0.3s;
    }

    nav img {
        transition: ease 0.3s;
        width: 100px;
    }

    #navbar {
        transition: ease 0.3s;
    }

    #gallery {
        height: 3400px;
    }
}

@media only screen and (max-height: 790px){
    body{
        height: 4200px;
    }
    .event-grid{
        grid-template-rows: 30rem;
    }
    .Weinproben{
        height: 240vh;
    }
    .events{
        height: 170vh;
    }
}
@media only screen and (min-height: 790.02px) and (max-height: 800px){
    body{
        height: 4200px;
    }
    .event-grid{
        grid-template-rows: 35rem;
    }
    .Weinproben{
        height: 240vh;
    }
    .events{
        height: 170vh;
    }
}
@media only screen and (min-height: 800.02px) and (max-height: 850px) {
    body{
        height: 4400px;
    }
    nav{
        padding: .8rem 3rem;
    }  
    .Weinproben{
        height: 230vh;
    }
    .events{
        height: 170vh;
    }
    .event-grid{
        grid-template-rows: 35rem;
    }
    
}
@media only screen and (min-height: 850.02px) and (max-height: 900px) {
    .Weinproben{
        height: 200vh;
    }
    .events{
        height: 190vh;
    }
    .event-grid{
        grid-template-rows: 35rem;
    }
}
