* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 380vh;
    position: relative;
}
.bg{
    background-image: linear-gradient(rgba(1,1,1,0.6), rgba(1,1,1,0.6)), url(IMG_3960.jpg);
    position: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
.welcome{
    position: absolute;
    top: 50vh;
    left: 50vw;
    color: rgb(207, 207, 207);
    font-size: 60px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    margin: auto;

}

.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
    
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }



.header {
    min-height: 100svh;
    width: 100%;

}

#navbar {
    background-color: rgb(2, 5, 22, 1);
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    height: 15vh;
    z-index: 3;
}

nav {
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 85%;
    
}


nav img {
    z-index: 1;
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: 160px;
}


nav img:hover{
    transform: scale(1) rotate(360deg);
  
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-size: 20px;
}


.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: radial-gradient(rgb(177, 28, 42) 0%, rgb(155, 28, 36) 35%, rgba(114, 22, 24, 255)100%);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
.balken-container{
    width: 100%;
    background-color: rgb(2, 5, 22, 1);
}
.vorstellung-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 20px;
    color: rgb(207, 207, 207);
    height: 40vh;
    width: 80%;
    margin: 0 auto;
  }
  
  .text-container {
    max-width: 50%;
    padding-right: 50px; 
    margin-top: 50px;
  }
  .text-container h1 {
    font-size: 32px;
    
  }
  .text-container p {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .bild-container {
    max-width: 40%;
    text-align: left;
    margin-left: 50px;
  }
  
  .bild-container img {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
  }



.autor{
    text-align: right;
    margin-top: 50px;
    padding-right: 10px;
}



.Kontaktformular {
    max-width: 100vw;
    height: 100vh;
    
}

.container-kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 80%;
    margin: 200px auto;
    justify-items: center;
}


.inhalt-oben {
    padding: 10px 10px 90px;
    background-color: rgb(2, 5, 22, .97);
    border-radius: 3rem;
    width: 80%;
    position: relative;
    
}

.inhalt-oben div {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inhalt-oben h1 {
    font-size: 26px;
    color: rgb(207, 207, 207);
}

.inhalt-oben p {
    
    font-size: 16px;
    color: rgb(207, 207, 207);
    text-align: center;

}

.inhalt-oben li {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    
}

.container-kontakt button , .container-unten button{
    color: rgb(207, 207, 207);
    background: radial-gradient(rgb(177, 28, 42) 0%, rgb(155, 28, 36) 35%, rgba(114, 22, 24, 255)100%);
    border: none;
    border-radius: 6px;
    font-family: oswald, arial;
    font-size: 15px;
    position: relative;
    background-color: black;
    border-radius: 5px;
    font-size: 16px;
    padding: 0.8em 1.8em;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.container-kontakt button:hover, .container-unten button:hover {
    transform: scale(1.1);
}

.container-kontakt button:after, .container-unten button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 20px white;
}

.container-kontakt button:active:after, .container-unten button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    opacity: 0.3;
    transition: 0s;
}

.container-kontakt button:active , .container-unten button:active{
    top: 1px;
}


.container-unten {
background-color: rgba(2, 5, 22, 0.97);
border-radius: 30px;
display: flex;
flex-direction: column;
padding: 40px 20px;
width: 75%;
margin: 0 auto;
}

.container-unten h1 {
color: #cfcfcf;
font-size: 24px;
margin-bottom: 40px;
text-align: center;
}

.details-zeile {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 40px;
margin-left: 20px;
margin-top: 20px;
}

.details-zeile p {
color: #cfcfcf;
flex-basis: calc(33.33% - 20px);
margin-bottom: 20px;
position: relative;
}

.details-zeile p input {
background-color: #cfcfcf;
border: none;
border-radius: 3px;
height: 30px;
padding: 0 10px;
width: 80%;
}

.details-zeile p label {
left: 0px;
position: absolute;
top: -30px;
transition: all 0.2s ease-out;
}

.details-zeile p input:focus + label,
.details-zeile p input:valid + label {
top: -30px;
font-size: 12px;
}

.nachricht-zeile {
margin-bottom: 40px;
margin-left: 20px;
}

.nachricht-zeile label {
color: #cfcfcf;
display: block;
margin-bottom: 10px;

}

.nachricht-zeile textarea {
background-color: #cfcfcf;
border: none;
border-radius: 5px;
height: 100px;
padding: 10px;
width: 94%;

}

.senden {
display: flex;
justify-content: flex-end;
margin-right: 53px;
}

.footer {
background-color: rgba(2, 5, 22, 0.97);
color: #cfcfcf;
padding: 40px 0;
margin-top: 200px;
width: 100%;
position: absolute;
bottom: 0;
}

.footer-container {
max-width: 1100px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}

.footer-links img {
width: 100px;
}

.footer-mitte {
flex-grow: 1;
text-align: center;
margin: 20px 0;
}

.footer-mitte h2 {
margin-bottom: 20px;
}

.footer-mitte ul {
list-style: none;
padding: 0;
margin: 0;
}

.footer-mitte ul li {
margin-bottom: 10px;
}

.footer-mitte ul li a {
color: #fff;
text-decoration: none;
font-size: 18px;
}

.footer-rechts {
display: flex;
justify-content: flex-end;
align-items: center;
}

.footer-rechts img {
margin-left: 10px;
width: 40px;
}
  
#navbar i{
    display: none;
}

@media (max-width: 768px)  {
    body{
        height: 450vh;
    }
    #navbar i{
        display: block;
        color: #cfcfcf;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul {
        padding: 30px;

    }
    .nav-links ul li {
        display: block;

    }
    .nav-links {
        position: absolute;
        background: linear-gradient(to bottom, rgb(177, 28, 42) 0%, rgb(155, 28, 36) 10%, rgb(114, 22, 24)100%);
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: .6s;
        
    }
    .nav-links ul li a{
        font-size: 16px;
        transition: ease 0.3s;
    }
    .nav-links ul li::after{
        display: none;
        
    }
    
    nav{
        padding: .5rem 3rem;
    }
    nav img{
        width: 50px;
        transition: ease 0.3s;
        margin-left: 0;
    }
    #navbar {
        height: 8vh;
        transition: ease 0.3s;
    }
    .vorstellung-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 130vh;
    } 
    .text-container {
        max-width: 100%;
        padding: 0px 40px;
        text-align: center;
    }
    .bild-container {
        max-width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .welcome{
        font-size: 20px;
        transition: ease 0.3s;
    }
    .container-kontakt {
        margin: 100px auto;
        gap: 50px;
    }
    .details-zeile {
        margin-left: 0px;
       
    }
    .nachricht-zeile{
            
        margin-left: 0px;
    }
    .senden{
        margin: 0;
    }
}

@media (min-width: 768.02px) and (max-width: 1000px){
    .nav-links ul li a{
        font-size: 14px;
        transition: ease 0.3s;
    }
    nav img{
        width: 80px;
        transition: ease 0.3s;
    }
    #navbar{
        height: 12vh;
        transition: ease 0.3s;
    }
    .welcome{
        font-size: 40px;
        transition: ease 0.3s;
    }
    .bild-container img{
        max-width: 80%;
        transition: ease 0.3s;
    }
    .text-container{
        padding-right: 50px;
        transition: ease 0.3s;
    }
    .text-container h1 {
        font-size: 24px;
        
      }
      .text-container p {
        font-size: 16px;
        margin-top: 14px;
      }
      
    
    

}
@media (min-width: 1000.02px){
    .nav-links ul li a{
        transition: ease 0.3s;
    }
    nav img{
        transition: ease 0.3s;
        width: 100px;
    }
    #navbar{
        transition: ease 0.3s;
    }
}
